/* ######### DEFAULTS ############# */

* {
    margin: 0;
    padding: 0;
}




header {
    display: flex;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}
